extends ../layouts/default

block content

	// Import google icon font
	head
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(type='text/css',
			rel='stylesheet',
			href='css/materialize.min.css',
			media='screen,projection')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

	// Main content
	.container
		h2 Research Edge
		hr
		form(id="search-form", method="post", autocomplete="on")

			// Search bar
			button.btn.waves-effect.waves-light(type='submit', name='action')
				i.material-icons send
			span
				.input-field
					i.material-icons.prefix search
					input(name="search-query",
						type="text",
						autofocus=true,
						required=true,
						placeholder="Search",
						spellcheck=true)

			// Advanced search
			ul.collapsible(data-collapsible="accordion")
				li
					.collapsible-header
						i.material-icons list
						| Advanced Search
					.collapsible-body
						.row
							.input-field.col.s10.offset-s1
								input#Authors.validate(type="text")
								label(for="Authors") Authors
							.input-field.col.s10.offset-s1
								input#Journals.validate(type="text")
								label(for="Journal") Journals
								

	// Import jquery and materialize
	body
		script(type="text/javascript", src="js/jquery/jquery-2.1.4.min.js")
		script(type="text/javascript", src="js/materialize.min.js")
