extends ../layouts/default

//- Import css scripts
block css

	link(type='text/css', href='css/nouislider.css', rel='stylesheet')
	link(type='text/css', href='css/vis.min.css', rel='stylesheet')

//- Main content
block content

	//- Slider
	if (!searchSubmitted)
		.slider
			ul.slides
				li
					img(src='images/af63fe1e8e58fd5e6a0c88fa1fd0c466.png')
					.caption.center-align
						h3(style='color: black;') Research Edge
						h5(style='color: black;') Discover journals and articles
				li
					img(src='images/spark-core-import-graph.png')
					.caption.right-align
						h3 Visualise
						h5 Citation networks
				li
					img(src='images/writing____by_juddt6-d5bcay0.jpg')
					.caption.left-align
						h3 Review
						h5 Papers and peers

	.container
		form#search-form(method='get', autocomplete='on')

			//- Search bar
			.row
				.input-field.col.s2.m1
					button.btn.z-depth-0.card-panel.transparent(type='submit', style='width: 30px')
						i.material-icons search
				.input-field.col.s10.m11
					input(name='search_query',
						type='text',
						autofocus=true,
						required=true,
						placeholder='Search',
						spellcheck=true,
						value=formData['search_query'])

			//- Advanced search
			ul.collapsible(data-collapsible='accordion')
				li
					.collapsible-header
						i.material-icons list
						| Advanced Search
					.collapsible-body
						.container
							.row
								.input-field
									input.validate(name='authors', type='text', value=formData['authors'])
									label(for='Authors') Authors
								.input-field
									input.validate(name='journals', type='text', value=formData['journals'])
									label(for='Journal') Journals
							.row
								label.col.s3#date_label Date
								#year_slider.col.s9
								input#yearstart(name='yearstart', type='number', value=formData['yearstart'])
								input#yearend(name='yearend', type='number', value=formData['yearend'])

	// Search results
	if searchSubmitted
		.container
			#search_network

// visjs must be loaded before materialize to avoid conflicts
block js
	script(type='text/javascript').
		var searchResults =!{JSON.stringify(searchResults)}
		$(document).ready(function() {
			$('.slider').slider({full_width: true, interval: 4000});
		});

	// Import visjs
	script(type='text/javascript', src='js/lib/vis.min.js')
	script(type='text/javascript', src='js/search_network.js')

	// Import nouislider
	script(type='text/javascript', src='js/lib/nouislider.min.js')
	script(type='text/javascript', src='js/year_slider.js')


